[submodule "vendor/samurai"]
	path = vendor/samurai
	url = https://github.com/michaelforney/samurai.git
[submodule "vendor/BearSSL"]
	path = vendor/BearSSL
	url = https://www.bearssl.org/git/BearSSL
[submodule "vendor/cproc"]
	path = vendor/cproc
	url = https://git.sr.ht/~mcf/cproc
