language: c

os:
  - linux
  - osx

compiler:
  - clang
  - gcc

before_install:
  - export CONFIGURE_ARGS=""
  - git submodule update --init --recursive
  - if command -v apt-get &>/dev/null; then sudo apt-get update -qq; fi
  - if command -v apt-get &>/dev/null; then sudo apt-get install -y mlton libunistring-dev samurai; fi
  - if command -v brew &>/dev/null; then brew update; fi
  - if command -v brew &>/dev/null; then brew install mlton libunistring samurai; fi

script: ./configure $CONFIGURE_ARGS && samurai && samurai test
